<HTML> <HEAD> <TITLE>TIENDA ASP KCC6.0 - TRANSACCION NORMAL</TITLE> </HEAD>
<BODY BGCOLOR="#3069C6" TOPMARGIN="10" LEFTMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0"> <BR> <P ALIGN="CENTER">
<FONT FACE=ARIAL SIZE="5" COLOR="WHITE"> TRANSACCION NORMAL - WINDOWS ASP – KCC6.0</FONT> </P> <BR>
<FORM METHOD="POST" ACTION="/wp/cgi-bin/tbk_bp_pago.cgi"> <TABLE BORDER="0" ALIGN="CENTER">
<TR>
<TD ALIGN="CENTER">
<FONT FACE=ARIAL SIZE="3" COLOR="WHITE">MONTO TRANSACCIÓN</FONT> <BR> <INPUT TYPE="TEXT" NAME="TBK_MONTO" VALUE="<%= @mount %>"> <BR>
</TD>
<TD ALIGN="CENTER"> <BR>
<INPUT TYPE="HIDDEN" NAME="TBK_TIPO_TRANSACCION" VALUE="TR_NORMAL"> <BR> </TD>
</TR>
<TR>
<TD ALIGN="CENTER">
<FONT FACE="ARIAL" SIZE="3" COLOR="WHITE">No DE ORDEN</FONT> <BR> <INPUT TYPE="TEXT" NAME="TBK_ORDEN_COMPRA" VALUE="<%= @oc %>"> <BR>
</TD>
<TD ALIGN="CENTER"> <BR>
<INPUT TYPE="HIDDEN" NAME="TBK_ID_SESION" VALUE="<%= @oc %>"> <BR> </TD>
</TR> </TABLE>
<TABLE BORDER=0 ALIGN="CENTER"> <TR>
<TD ALIGN="CENTER"> <BR>
<INPUT TYPE="HIDDEN" NAME="TBK_URL_EXITO" SIZE=”40”
VALUE="http://cert.multipay.cl/wpi/success" SIZE="50"> <BR> </TD>
<TD ALIGN="CENTER"> <BR>
<INPUT TYPE="HIDDEN" NAME="TBK_URL_FRACASO" SIZE=40
VALUE="http://cert.multipay.cl/wpi/failure" SIZE=”50”> <BR> </TD>
</TR> </TABLE>
<TABLE BORDER="0" ALIGN="CENTER"> <TR> <TD ALIGN="CENTER"> <BR>
<INPUT TYPE="SUBMIT" VALUE="PAGAR CON TARJETA DE CRÉDITO" SIZE=”20”> </TD>
</TR>
</TABLE> </FORM> </BODY> </HTML>
